.about-company {
  display: flex;
  gap: 90px;
  padding: 0;
  width: 62.5%;
  margin: 0 auto;
  margin-bottom: 100px;

  & h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 15px;
  }

  & p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  & .about-company__providers-description {
    margin-bottom: 45px;
  }

  & button {
    width: 180px;
    padding: 14px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: inherit;
    color: $base-blue;
    border: 1px solid $base-blue;
    border-radius: 3px;
  }

  @media (max-width: 1023px) {
    gap: 25px;
    padding: 0 50px 80px 50px;
    width: 100%;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    display: block;
    padding: 0 25px 80px 25px;
    margin-bottom: 0;

    & h2 {
      font-size: 28px;
      line-height: 40px;
    }

    & p {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 15px;
    }

    & button {
      width: 160px;
      padding: 8px 15px;
    }
  }
}

.about-company button {
  cursor: pointer;
}

.about-company button:hover {
  background-color: $base-black-font;
}

.about-company button:focus {
  outline: 2px solid $base-blue;
}

.about-company__third-paragraph {
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.about-company__more-description {
  display: none;

  &--is-open {
    display: block;
  }
}

.about-company__image {
  display: block;
  min-width: 150px;
  height: 320px;

  @media (max-width: 767px) {
    display: none;
  }
}
