.about-company {
  padding: 0 25px 80px 25px;

  @media (min-width: $vp-768) {
    display: flex;
    gap: 30px;
    padding: 0 50px 80px 50px;
  }

  @media (min-width: $vp-1024) {
    gap: 100px;
    padding: 0;
    width: 62.5%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

.about-company__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 15px;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 51px;
  }
}

.about-company__description {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (min-width: $vp-1024) {
    min-height: 170px;
  }
}

.about-company__first-paragraph {
  margin-bottom: 28px;
}

.about-company__first-paragraph, 
.about-company__second-paragraph,
.about-company__third-paragraph {
  display: block;
}

.about-company__third-paragraph {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.about-company__image {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
    min-width: 150px;
    height: 320px;
  }
}

.about-company__button-more {
  width: 160px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: inherit;
  color: $base-blue;
  padding: 8px 15px;
  border: 1px solid $base-blue;
  border-radius: 3px;

  @media (min-width: $vp-768) {
    width: 180px;
    padding: 14px;
  }
}