.benefit-item {
  grid-area: auto;
  position: relative;
  width: 100%;
  min-width: 332px;
  min-height: 300px;
  height: 100%;
  padding: 40px 45px 35px 45px;
  border: 1px solid $light-grey;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    color: $base-blue;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 21px;
  }

  &::after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 5px;
    background-color: $base-blue;
  }

  &:hover {
    background-color: $base-blue;
    border-color: $base-blue;
    color: #fff;

    & svg {
      fill: #fff;
    }

    & h2 {
      color: #fff
    }
  }

  @media (max-width: 1023px) {
    min-width: 100%;
  }

  @media (max-width: 767px) {
    padding: 30px 30px 35px 30px;

    h2 {
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.benefit-item__icon {
  width: 35px;
  height: 35px;
  fill: $base-blue;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
  }
}