.benefits-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;

  @media (max-width: 1023px) {
    padding: 80px 50px;
  }

  @media (max-width: 768px) {
    padding: 50px 25px;
    padding-bottom: 40px;
  }
}

.benefits-block__list {
  max-width: 63%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;

  @media (max-width: 1023px) {
    width: 100%;
    max-width: fit-content;
    margin: 0;
  }

  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
