.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;

  h2 {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    color: $color-default-white;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
    color: $color-default-white;
  }

  input, textarea {
    &::placeholder {
      color: $color-default-white;
      font-size: 16px;
      line-height: 21px;
    }

    &:focus {
      outline: 2px solid #fff;
    }

    width: 100%;
    background-color: $blue-input-background;
    color: $base-white-font;
    font-size: 16px;
    line-height: 21px;
    padding: 15px;
    border-radius: 3px;
  }

  textarea {
    padding: 25px 15px;
    height: 155px;
  }

  button {
    cursor: pointer;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $color-default-white;
    background-color: $base-black-font;
    border-radius: 3px;
    width: 265px;
    padding: 13px 25px;
    align-self: flex-start;

    &:focus {
      outline: 2px solid #fff;
    }
  }

  @media (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
      height: 180px;
    }

    button {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 5px;
      width: 270px;
      align-self: center;
    }
  }
}

.feedback-form button:hover {
  background-color: $color-default-white;
  color: $base-black-font;
  border: 1px solid $base-black-font;
}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper,
.feedback-form__question-wrapper {
  @media (max-width: 1023px) {
    width: 100%;
  }
}


.feedback-form__question-wrapper {
  grid-area: 2/1/2/-1;
  margin-bottom: 10px;

  @media (max-width: 1023px) {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 2px;
  }
}

.feedback-form__checkbox-wrapper {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding-left: 10px;

  &:hover span {
    outline: 1px solid #fff;
  }

  label {
    cursor: pointer;
    color: $color-default-white;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
  }

  span {
    cursor: pointer;
    margin-left: 0;
    display: block;
    min-width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    margin-right: 10px;

    &:hover {
      outline: 1px solid #fff;
    }
  }

  input:checked + span {
    background-image: url("../img/sprite/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  input:focus + span {
    outline: 2px solid #fff;
  }

  @media (max-width: 767px) {
    span {
      margin-left: 5px;
    }
  }
}
