.feedback-form-section {
  position: relative;
  background-color: $base-blue;
  padding-top: 167px;
  padding-bottom: 245px;
  background-image: url("../img/bg-form.png");
  background-repeat: no-repeat;
  background-size: 51.1% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--popup {
    background-image: none;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 15px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    color: $color-default-white;
  }

  p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 33px;
    color: $color-default-white;
  }

  @media (max-width: 1023px) {
    padding: 45px 50px 125px 50px;
    background-image: none;

    h2 {
      margin-bottom: 7px;
    }

    p {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 767px) {
    padding: 45px 25px 90px 25px;

    h2 {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 30px;
    }
  }
}

.feedback-form-section__wrapper {
  position: relative;
  width: 63.5%;
  display: flex;
  align-items: center;
  gap: 9%;
  justify-content: center;

  @media (max-width: 1400px) {
    width: 80%;
  }

  @media (max-width: 1023px) {
    width: 100%;
    display: block;
  }
}

.feedback-form-section__form-wrapper {
  width: 580px;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.feedback-form-section__image {
  display: block;
  transform: translateY(10px);

  @media (max-width: 1023px) {
    display: none;
  }
}
