.footer {
  background-color: $base-black-font;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 55px;

  @media (max-width: 767px) {
    padding: 0;
    padding-bottom: 35px;
  }
}

.footer__footer-wrapper {
  width: 62.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;

  @media (max-width: 1400px) {
    width: 80%;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    padding: 0;
    width: 100%;
  }
}

.footer__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    display: block;
  }
}