.header {
  position: fixed;
  min-height: 120px;
  height: fit-content;
  top: 0;
  width: 100vw;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1023px) {
    position: absolute;
    height: 100px;
    padding: 0 70px 0 50px;
  }

  @media (max-width: 767px) {
    height: 70px;
    padding: 0 35px 0 26px;
  }
}

.header__logo {
  &--mobile {
    display: none;
  }

  &--full {
    display: block;
    margin-right: 68px;
  }

  @media (max-width: 1023px) {
    &--full {
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    &--mobile {
      display: block;
    }

    &--full {
      display: none;
    }
  }
}


.header__wrapper {
  width: 62.5%;
  margin: 0 auto;
  margin-right: 410px;
  margin-left: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  @media (max-width: 1400px) {
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 1023px) {
    width: 100%;
    padding-bottom: 5px;
  }
}

.header__contacts-block {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (min-width: $vp-1024) {
    gap: 50px;
    width: 480px;
    justify-content: space-between;
  }

  @media (max-width: 1023px) {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.header__contact-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: $base-white-font;

  &:hover {
    color: $base-blue;
  }

  &:focus {
    outline: 2px solid $base-blue;
  }

  @media (min-width: $vp-1024) {
    gap: 15px;
    padding: 10px;
    padding-bottom: 20px;
  }
}

.header__link-text {
  font-size: 16px;
  line-height: 18px;
  color: inherit;

  display: none;

  @media (min-width: $vp-1024) {
    display: block;
  }
}

.header__open-popup-btn {
  display: none;

  &:hover {
    color: $base-blue;
    border-color: $base-blue;
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid $base-blue;
  }

  @media (min-width: $vp-1024) {
    display: block;
    width: 160px;
    background-color: inherit;
    font-family: "Roboto Condensed", "Arial", "sans-serif";
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $base-white-font;
    border: 1px solid $base-white-font;
    padding: 10px 15px;
    border-radius: 3px;
    margin-left: 70px;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
  }
}
