.logo-block {
  padding-top: 15px;
  padding-bottom: 20px;

  @media (min-width: $vp-1024) {
    width: 215px;
  }
}

.logo-block__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.logo-block__company-name {
  display: none;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  color: $base-white-font;
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;

  &--footer {
    display: block;
  }

  @media (min-width: $vp-768) {
    display: block;
  }
}

.logo-block__description {
  display: none;
  font-family: "Roboto", "Arial", sans-serif;
  color: $clipped-white;
  font-size: 12px;
  line-height: 14px;

  &--footer {
    display: block;
  }

  @media (min-width: $vp-768) {
    display: block;
  }
}

.logo-block__logo {
  width: 55px;
  height: 55px;

  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

.logo-block__logo--footer {
  @media (max-width: 767px) {
    width: 55px;
    height: 55px;
  }
}

.logo-block--footer {
  width: 215px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: 1024px) {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }
}
