.products {
  background-color: $base-black-font;
  padding: 50px 25px 86px 25px;

  @media (min-width: 768px) {
    padding: 60px 55px 75px 55px;
  }

  @media (min-width: 1024px) {
    padding: 70px 0px 140px 0px;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-between;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 6.97%;
    width: 62.5%;
    margin: 0 auto;
  }
}

.products__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: $color-default-white;
  margin-bottom: 40px;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 50px;
    display: none;
  }

  @media (min-width: 1024px) {
    width: 62.5%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.products__title--tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}