.products {
  background-color: $base-black-font;
  padding: 65px 0px 140px 0px;

  @media (max-width: 1023px) {
    padding: 55px 50px 75px 50px;
  }

  @media (max-width: 767px) {
    padding: 47px 25px 88px 25px;
  }
}

.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 63.5%;
  margin: 0 auto;
  justify-content: space-between;
  gap: 85px;

  @media (max-width: 1400px) {
    width: 80%;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: auto;
  }
}

.products h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-default-white;
  font-weight: 400;
  width: 63.5%;
  margin: 0 auto;
  margin-bottom: 53px;
  font-size: 36px;
  line-height: 50px;

  @media (max-width: 1400px) {
    width: 80%;
  }

  @media (max-width: 1023px) {
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
    width: 260px;
    font-size: 28px;
    line-height: 40px;
  }
}
