.socials-wrapper {
  flex-direction: column;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  margin-right: 12.3%;

  @media (max-width: 1023px) {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 0;
    width: 100%;
    margin-bottom: 35px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0;
    padding: 35px 50px 0 50px;
  }
}
