.socials-section {
  padding: 35px 50px 25px 50px;

  @media (min-width: 768px) {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 35px;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    margin-right: 8.3%;
  }

}